### Homework-3

In [ ]:
# Task 1 - Create and Access List Elements


txt_list = ['Apple', 'Banana', 'Pineapple', 'Pear', 'Strawberry']

print(txt_list[2])

Pineapple

In [ ]:
# Task 2 - Concatenate Two Lists

first_list = [1, 2, 3]
sec_list = [2, 3, 4]

full_list = first_list + sec_list
print(full_list)

[1, 2, 3, 2, 3, 4]

In [ ]:
# Task 3 - Extract Elements from a List

numbers = [1, 2, 3, 4, 5]

first = numbers[0]
middle = numbers[len(numbers) // 2]
last = numbers[-1]

full = f'{first} {middle} {last}'
print(full)

1 3 5

In [ ]:
# Task 4 - Convert List to Tuple

fav_movies = ['Avengers', 'Qaynana va kelin', 'Xorlangan kelin', 'Qudalar dardi', 'Qoqilib olib qolgan kelin']

tup = tuple(fav_movies)
print(tup)

('Avengers', 'Qaynana va kelin', 'Xorlangan kelin', 'Qudalar dardi', 'Qoqilib olib qolgan kelin')

In [ ]:
# Task 5 - Check Element in a List

cities = ['Tashkent', 'Berlin', 'Paris', 'Chorsu']

if 'Paris' in cities:
    print('Paris')
else:
    print('Not in the list')

Paris

In [ ]:
# Task 6 - Duplicate a List Without Using Loops

numbers = [1, 2, 3, 4, 5]
dup = numbers * 2
print(dup)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# Task 7 - Swap First and Last Elements of a List

numbers = [1, 2, 3, 4, 5]

numbers[0], numbers[-1] = numbers[-1], numbers[0]
print(numbers)

[5, 2, 3, 4, 1]

In [ ]:
#  Task 8 - Slice a Tuple

numbers = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
print(numbers[3:8])

(4, 5, 6, 7, 8)

In [ ]:
# Task 9 - Count Occurrences in a List


colors = ['Blue', 'Yellow', 'Green', 'Blue']

print(colors.count('Blue'))

2

In [ ]:
# Task 10 - Find the Index of an Element in a Tuple

Animals = 'Snake', 'Mouse', 'Lion', 'Wolf'

print(Animals.index('Lion'))

2

In [ ]:
# Task 11 - Merge Two Tuples
n1_tup = 1, 2, 3
n2_tup = 2, 3, 4

full_tup = n1_tup + n2_tup
print(full_tup)

(1, 2, 3, 2, 3, 4)

In [ ]:
# Task 12 - Find the Length of a List and Tuple


list_txt = ['f24 sila']
tuple_txt = ('birnima', 'xullas')

print(len(list_txt))
print(len(tuple_txt))

1
2

In [ ]:
# Task 13 - Convert Tuple to List

numbers_tup = 1, 2, 3, 4

list_n = list(numbers_tup)
print(list_n)

[1, 2, 3, 4]

In [2]:
# Task 14 - Find Maximum and Minimum in a Tuple

tup_num = 1, 2, 3, 4
min_v = min(tup_num)
max_v = max(tup_num)

print(min_v)
print(max_v)

1
4

In [8]:
# Task 15 - Reverse a Tuple
# Create a tuple of words and print it in reverse order.

txt_tup = 'Hello', 'Salom'

tup_rev = txt_tup[::-1]
print(tup_rev)

('Salom', 'Hello')