In [11]:
import sqlite3

conn = sqlite3.connect('database1.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
''')

cursor.executemany('INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)', [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
])

cursor.execute('UPDATE Roster SET Name = ? WHERE Name = ?', ('Ezri Dax', 'Jadzia Dax'))

cursor.execute('SELECT Name, Age FROM Roster WHERE Species = "Bajoran"')
results = cursor.fetchall()

for name, age in results:
    print(f"Name: {name}, Age: {age}")

conn.close()

Name: Kira Nerys, Age: 29