Homework

1. Modify String with Underscores

In [78]:
# Task 1 -  Modify String with Underscores

s = input("Enter a string: ")
vowels = 'aeiouAEIOU'
s = list(s)
i = 3

while i < len(s):
    if s[i - 1] in vowels or (i < len(s) and s[i] == '_'):
        i += 1  # shift
    else:
        s.insert(i, '_')
        i += 4 

print(''.join(s))

hel_lo

2. Integer Squares Exercise

In [14]:
# 2. Integer Squares Exercise

n = int(input("Enter a number: "))

for i in range(n):
    print(i ** 2)

0
1
4
9
16

3.  Loop-Based Exercises

In [17]:
# Exercise 1: Print first 10 natural numbers using a while loop

number = 0
while number <= 10:
    print(number)
    number +=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Exercise 2: Print the following pattern

for i in range(1, 6):  
    for j in range(1, i + 1):  
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [22]:
# Exercise 3: Calculate sum of all numbers from 1 to a given number

n = int(input("Enter number: "))

sum_numbers = n * (n + 1) // 2

print(sum_numbers)

55

In [25]:
# Exercise 4: Print multiplication table of a given number

n = int(input("Enter number: "))

for i in range(1, 11):
    print(n * i)

2
4
6
8
10
12
14
16
18
20

In [54]:
# Exercise 5: Display numbers from a list using a loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 50 and num <= 150 and num % 5 == 0:
        print(num)

75
150
145

In [ ]:
# Exercise 6: Count the total number of digits in a number

num = input("Enter a number: ")

count_digits = len(num)

print(count_digits)

Output: 5

In [ ]:
# Exercise 7: Print reverse number pattern


n = 5

for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# Exercise 8: Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]

for item in reversed(list1):
    print(item)

50
40
30
20
10

In [64]:
# Exercise 9: Display numbers from -10 to -1 using a for loop

for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [84]:
# Exercise 10: Display message “Done” after successful loop execution

for i in range(5):
    print(i)
print("Done")

0
1
2
3
4
Done

In [ ]:
# Exercise 11: Print all prime numbers within a range

x, y = 25, 50  

primes = [True] * (y + 1)

primes[0], primes[1] = False, False

for i in range(2, int(y ** 0.5) + 1):
    if primes[i]:
        for j in range(i * i, y + 1, i):
            primes[j] = False

res = [i for i in range(x, y + 1) if primes[i]]
print(res if res else "No")

[29, 31, 37, 41, 43, 47]

In [87]:
# Exercise 12: Display Fibonacci series up to 10 terms

terms = 10
a, b = 0, 1

for _ in range(terms):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Exercise 13: Find the factorial of a given number


n = 5
fact = 1

for i in range(1, n + 1):
    fact *= i

print(fact)

120

4. Return Uncommon Elements of Lists

In [96]:
# Exercise 1: Return Uncommon Elements of Lists


list1 = [1, 1, 2, 3, 4, 2]
list2 = [1, 3, 4, 5]

set1 = set(list1)
set2 = set(list2)

common = set1.intersection(set2)

unique1 = [x for x in list1 if x not in common]

unique2 = [x for x in list2 if x not in common]

result = unique1 + unique2
print(result)

[2, 2, 5]